@import "../../../../variables/variables.scss";


.element {
    background-color:#9D257E;
   height:30px;
   width: 30px;
   border-radius: 15px;
   align-items: center;
   display: flex;
   color: white;
   justify-content:center;
  }
  