@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
$margin:30px;
$color-primary: #9D257E;
$font-size: 25px;
$font-width: bolder;
$font-family:'Open Sans', sans-serif;